.home_screen{
    background-color: #111;
    height:100vh;
    width:100%;

    .header_section{
        height: 150px;
    }
    .body_section{
        height:calc(100% - 150px);
        background-color: rgb(182, 154, 154);
    }

}
.body_section{
    border-top-left-radius: 25px;
       border-top-right-radius: 25px;
       padding: 15px;
    

}