.home_banner{
    position: relative;
    width: 100%;
    height: 150px;
    background-image: url("/public/assets/homeScreen/banner/home-banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;

    .bg-layout{
        height: 100%;
        width: 100%;
        background: linear-gradient(to right,black,rgba(0, 0, 0, 0.09));
        border-radius: 25px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        


    }
    .banner_content{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 2;
        display: flex;
        flex-wrap: nowrap;

        .left_content{
            width: 70%;
            padding: 15px 10px;

            .title{
                font-size: 20px;
                font-weight: 600;
                color: white;
                margin-bottom: 10px;


            }
            .text{
                font-size: 16px;
                color: #909096;


            }
        }
        .right_content{
            width: 30%;
            height: 100%;
            display: flex;
            justify-content: end;
            align-items: end;
            padding: 15px 10px;

            .cart_button{
                width: max-content;
                padding: 5px 7px;
                background-color: #cd5721;
                margin-bottom: 10px;
                font-size: 13px;
                font-weight: 500px;
                color: #fff;
                border-radius: 10px;



            }

        }
    }
}